<!doctype html>
      <div class="container">

  <div class="container theme-showcase" role="main">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h1 class="panel-title"><h1><b>Euclid Analytics: Platform Technical Screen</b></h1>
            </div></div>
<title>Euclid Analytics</title>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">

        	
        <p> <b>Overview</b>:<br>The basic goal of this technical evaluation is to give us some idea of your technical expertise with a relatively straightforward problem. We will expect an answer within one hour. When you finish, please send your answers and code to <a href="mailto:paul@euclidanalytics.com">paul@euclidanalytics.com</a>. So without further ado...<br><br>
<b>Problem</b>:<br> We've uploaded a sample of our raw data here at <a href='http://interview.euclidanalytics.com/data'>http://interview.euclidanalytics.com/data</a> 
<br><br>
The data represents observations from a random set of routers recording wireless device signals. Lines will either be a date timestamp or else a line of data that begins with either INFO or WARN and is followed by a json data package that looks something like this:
<br><br>
{"pf":11,"sn":"c9b238def5182c57c90c62816ac827a9","vs":3,"ht":[{"ss":-71,"ct":1435100343,"s3":-357911,"ot":1435100343,"si":"x0df11f201d334525",<br>"s2":5041,"ap":0,"cn":1,"sm":"444C0C","sl":-71,"sh":-71}],"sq":0}
<br><br>
The important fields for this exercise are the "sn" (hashed router mac address),"si" (hashed wireless device mac address) and "ss" (signal strength) fields.
Using the programming language of your choice, parse this data and answer the following questions:

 <br>
    <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Questions:</b></h3>
            </div>
            <div class="panel-body">
      <h3></h3>
			<ol type="1">
				<li>How many INFO log lines are there?</li>
				<li>How many WARN log lines are there?</li>
				<li>How many unique sn values are there?</li>
				<li>How many unique si values are there?</li>
				<li>What is max value for ss? (note, max ss is a value that is closest to 0 without being positive)</li>
			</ol>

            </div>
          </div>
            	      <div class="alert alert-info" role="alert">
        If you don't finish everything, feel free to send us what you have as completion is not necessary to pass, we just want to see how you work!
      </div>

</p>

      </div>


<div align="right"><a href="https://goo.gl/WNMzEY"><img height="7px" width="7px" src="../static/pi.ico"></a></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</html>